@model Web.Models.Employee

@{
    ViewBag.Title = "HomePage";
}

<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body class="listcss">
    <div class="Home">
        <h1><span style="color:darkseagreen"><i>Welcome</i></span></h1>
        <h1>Prolifics Project Management</h1>
    </div>
</body>
</html>

