body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.listcss {
    width: 100%;
    height: 200%;
    
    padding-bottom: 30%;
    background-image: url("k.jpg");
    background-size:100%;
}


.clr{
    color:orangered
}
#create{
    background-color:aqua;
}

#btn{
   box-shadow:200px
}

.Home{
    text-align:center;
}
.menu {
    position: absolute;
    right: 100px;
    top: none;
}
.right {
    position: absolute;
    right: 300px;
    top: none
}